* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #86898c;
}
body {
    background-color: black;
}

.principal {
    width: 1200px;
    margin: auto;
}

/* menu Hamburguesa */
header .nav_toggle {
    display: none;
}

/* header */
header {
    display: flex;
    justify-content: center;
    background-color: #4b5a65;

}
header .tamaño{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    align-items: center;
}
header .tamaño ul .home {
    border-radius: 20px;
    padding: 4px 18px;
    background: linear-gradient(#333c42, #445059);
    border-top: 1.5px solid #1e2327;
    border-bottom: 1.5px solid #60717e;
}

/* cambios generales */
ul {
    display: flex;
    gap: 45px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #ffffff;
}
h2, h3 {
    color: #5b6770;
}
/* tamaño de todos los contenedores */
.tamaño {
    width: 81%;
}
button {
    cursor: pointer;
}

/* contenedor del celular */
.contenido1 {
    display: flex;
    justify-content: center;
    background-color: #4b5a65;
}
.contenido1 .tamaño{
    display: flex;
    justify-content: space-between;
}
.contenido1 .tamaño .celular {
    display: flex;
    align-items: flex-end;
    animation-duration: 2s;
    animation-name: corredor;
}
@keyframes corredor {
    from {
      transform: translateX(-20%);
    }
  
    to {
        transform: translateX(0px);     
    }
  }
.contenido1 .texto {
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.contenido1 .texto h1 {
    font-size: 48px;
    color: #ffffff;
}
.contenido1 .texto p {
    line-height: 25px;
}
.contenido1 .texto .blanco {
    color: #ffffff;
}
.contenido1 .botones {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
}
.contenido1 .texto .botones .link a {
    border-bottom: 1px solid #ffffff;
}
.contenido1 .texto .botones .link:hover {
    animation-name: rebote;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes rebote {
    50% {
        transform: translate(0px, -15px);
    }
    100% {
        transform: translate(0%);
    }
}
.contenido1 .texto .botones button{
    border-radius: 30px;
    padding: 13px 45px;
    color: #ffffff;
    background: linear-gradient(#429dd5, #398dce);
    border: none;
    border-top: 2px solid #77acce;
    box-shadow: 3px 4px 5px 0px rgb(39, 39, 39);
}

/* barra de marcas */
.marcas {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
}
.marcas .tamaño { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.marcas .tamaño a .mc {
    margin-right: 30px;
}

/* contenedor general*/
.contenidoGeneral {
    display: flex;
    justify-content: center;
    background-color: white;
}
.contenidoGeneral .tamaño {
    height: 1350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* contenedor general sub elemento uno */
.contenidoGeneral .tamaño .uno{
    display: flex;
    justify-content: space-between;
}
.contenidoGeneral .tamaño .uno .caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.contenidoGeneral .tamaño .uno .caracteristicas {
    opacity: 0;
    transition: all 2s;
}
.desdeIzquierda {
    animation-name: desdeIzquierda;
    animation-duration: 2s;
}
@keyframes desdeIzquierda {
    0% {
        transform: translateX(-80px);
    }
    100% {
        transform: translateX(0);
    }
}
.desdeDerecha {
    animation-name: desdeDerecha;
    animation-duration: 2s;
}
@keyframes desdeDerecha {
    0% {
        transform: translateX(80px);
    }
    100% {
        transform: translateX(0);
    }
}
.desdeAbajo {
    animation-name: desdeAbajo;
    animation-duration: 2s;
}
@keyframes desdeAbajo {
    0% {
        transform: translatey(80px);
    }
    100% {
        transform: translatey(0);
    }
}
.contenidoGeneral .tamaño .uno .caracteristicas .texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14.5px;
    gap: 8px;
}
.contenidoGeneral .tamaño .uno .caracteristicas .texto p {
    color: #aaaaaa;
    width: 320px;
}
.contenidoGeneral .uno .caracteristicas button {
    border-radius: 5px;
    padding: 15px 30px;
    color: #ffffff;
    background: linear-gradient(#429dd5, #398dce);
    border: 1px solid transparent;
    box-shadow: inset 0px 1px 0px 1px #aed3ea;
}

/* contenedor general sub elemento dos */
.contenidoGeneral .tamaño .dos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* titulo general */
.titulo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contenidoGeneral .tamaño .dos .slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contenidoGeneral .tamaño .dos .slider .img img:hover {
    -webkit-transform:scale(1);transform:scale(1.15);
    transition: 0.5s ease-out;
}
.contenidoGeneral .tamaño .dos .slider .img {
    overflow: hidden;
    border: 4px solid white;
    box-shadow: 0 1px 5px 0px gray;
    display: flex;
    align-items: center;
}
.contenidoGeneral .tamaño .dos .slider img {
    width: 220px;
    height: 150px;
}

/* contenedor general sub elemento tres */
.contenidoGeneral .tamaño .tres {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contenidoGeneral .tamaño .tres a {
    color: rgb(0, 170, 255);
}
.contenidoGeneral .tamaño .tres .blog {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contenidoGeneral .tamaño .tres .blog .infoIzq {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contenidoGeneral .tamaño .tres .blog .infoIzq .info {
    display: flex;
    gap: 30px;
}
.contenidoGeneral .tamaño .tres .blog .infoIzq .info img {
    width: 170px;
    border: 4px solid white;
    box-shadow: 0 1px 5px 0px gray;
}
.contenidoGeneral .tamaño .tres .blog .infoIzq .info .texto p{
    line-height: 25px;
    width: 290px;
    font-size: 14px;
}
.contenidoGeneral .tamaño .tres .blog .infoDer .info .fecha, .contenidoGeneral .tamaño .tres .blog .infoIzq .info .texto .fecha{
    font-size: 13px;
    color: rgb(186, 185, 185);
}
.contenidoGeneral .tamaño .tres .blog:nth-child(2) {
    width: 45%;
}
.contenidoGeneral .tamaño .tres .blog .infoDer {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.contenidoGeneral .tamaño .tres .blog .infoDer .info span {
    color: #5b6770;
    font-weight: bold;
}
.contenidoGeneral .tamaño .tres .blog .infoDer .info p {
    line-height: 27px;
    font-size: 15px;
}

/* foother */
footer {
    display: flex;
    justify-content: center;
    background-color: white;
}
footer .tamaño {
    border-top: 1px solid gray;
    padding: 20px 0px 30px;
    display: flex;
    justify-content: space-between;
}
footer .tamaño .redes {
    display: flex;
    gap: 12px;
}

/* responsive */
@media screen and (max-width: 1200px){

    body{
        width: 100%;
    }
    .principal {
        min-width: 993px;
        max-width: 1200px;
    }  
}

@media screen and (max-width: 992px){
    
    body{
        width: 100%;
    }
    .principal {
        max-width: 992px;
        min-width: 769px;
    }
    
    /* header */
    header .tamaño{
        padding: 28px 0px;
    }
    
    /* contenedor del celular */
    .contenido1 .tamaño .celular img {
        width: 280px;
        height: 340px;
    }
    .contenido1 .texto {
        width: 450px;
    }
    .contenido1 .botones {
        margin-top: 5px;
    }
    .contenido1 .texto h1 {
        font-size: 38px;
    }
    .contenido1 .texto .botones button {
        padding: 11px 30px;
    }
    
    /* contenido general */
    .contenidoGeneral .tamaño {
        height: 1650px;
    }

    /* contenido general sub contenedor uno */
    .contenidoGeneral .tamaño .uno .caracteristicas .texto p {
        width: 255px;
    }
    
    /* contenido general sub contenedor dos */
    .contenidoGeneral .tamaño .dos .slider {
        flex-wrap: nowrap;
        gap: 10px;
    }
    .contenidoGeneral .tamaño .dos .slider .img {
        justify-content: center;
    }

    /* contenido general sub contenedor tres */
    .contenidoGeneral .tamaño .tres {
        flex-direction: column;
        gap: 50px;
    }
    .contenidoGeneral .tamaño .tres .blog {
        width: 100%;
    }
    .contenidoGeneral .tamaño .tres .blog:nth-child(2) {
        width: 100%;
    }
    .contenidoGeneral .tamaño .tres .blog .infoIzq .info .texto p{
        width: 100%;
        font-size: 16px;
    }
    .contenidoGeneral .tamaño .tres .blog .infoDer .info p {
        width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px){
    
    body{
        width: 100%;
    }
    .principal {
        max-width: 768px;
        min-width: 481px;
      }
      
    /* contenedor del celular */
    .contenido1 .tamaño {
        height: 310px;
    }
    .contenido1 .tamaño .celular img {
        width: 250px;
        height: 300px;
    }
    .contenido1 .texto {
        width: 320px;
        padding-bottom: 28px;
    }
    .contenido1 .texto p {
        font-size: 13px;
        text-align: justify;
        line-height: 18px;
    }
    .contenido1 .texto h1 {
        font-size: 33px ;
    }
    .contenido1 .texto .botones button {
        padding: 8px 0px;
        width: 150px;
        font-size: 12px;
    }
    .contenido1 .texto .botones .link {
        text-align: center;
    }
    .contenido1 .texto .botones .link a {
        font-size: 13px;
    }
    
    /* barra de marcas */
    .marcas .tamaño {
    padding: 12px 0px;
    }
    .marcas .tamaño a img{
        width: 60px;
    }
    .marcas .tamaño a .mc{
        width: 38px;
        margin-right: 0px;
    }

    /* contenido general */
    .contenidoGeneral .tamaño  h2 {
        font-size: 21px;
    }
    
    /* contenido general sub contenedor uno */
    .contenidoGeneral .tamaño .uno .caracteristicas .texto p {
        width: 200px;
        font-size: 13px;
    }
    .contenidoGeneral .tamaño .uno .caracteristicas img {
        width: 100px;
    }
    .contenidoGeneral .uno .caracteristicas button {
        padding: 10px 16px;
    }

    /* contenido general sub contenedor dos */
    .contenidoGeneral .tamaño .dos .slider {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* contenido general sub contenedor tres */
    .contenidoGeneral .tamaño .tres .blog .infoIzq .info .texto p {
        font-size: 15px;
    }
    .contenidoGeneral .tamaño .tres .blog .infoDer .info p {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    
    body{
        width: 100%;
    }
    .principal {
        min-width: 0px;
        max-width: 480px;
    }

/* menu hamburguesa*/
    header ul {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: black;
        display: flex;
        flex-direction: column;
        height: 4000px;
        width: 100%;
        padding: 100px;
        transform: translateX(-100%);
        transition: 0.3s ease all;
        gap: 20px;
        align-items: center;
    }
    .nav_toggle span {
        width: 30px;
        height: 4px;
        background: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    header .nav_toggle {
        display: flex;
        flex-direction: column;
        margin: 15px;
        position: relative;
        z-index: 2;
    }
    .close span {
        transform: rotate(45deg) translate(0px, 0px);
    }
    .close span:nth-child(2) {
        display: none;
    }
    .close span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }
    .open {
        transform: translateX(0);
    }

    /* contenedor del celular*/
    .contenido1 .tamaño {
        justify-content: center;
        height: auto;
    }
    .contenido1 .tamaño .celular img {
        display: none;
    }
    .contenido1 .texto .botones button {
        padding: 8px 0px;
        width: 120px;
    }

    /* barra de marcas */
    .marcas .tamaño a img{
        width: 45px;
    }
    .marcas .tamaño a .mc{
        width: 30px;
    }

    /* contenido general*/
    .contenidoGeneral .tamaño {
        height: 2300px;
    }
    .contenidoGeneral .tamaño h2 {
        font-size: 18px;
    }
    .contenidoGeneral .tamaño h3 {
        font-size: 18px;
    }
    
    /* contenido general sub contenedor uno */
    .contenidoGeneral .tamaño .uno {
       flex-direction: column;
       gap: 40px;
    }
    .contenidoGeneral .tamaño .uno .caracteristicas {
        gap: 12px;
    }
    .contenidoGeneral .tamaño .uno .caracteristicas .texto p{
        font-size: 12px;
    }
    .contenidoGeneral .uno .caracteristicas button {
        padding: 8px 10px;
        font-size: 12px;
    }

    /* contenido general sub contenedor dos */
    .contenidoGeneral .tamaño .dos .slider img {
        width: 135px;
        height: 100px;
    }

    /* contenido general sub contenedor tres */
    .contenidoGeneral .tamaño .tres .blog .infoIzq .info {
        flex-direction: column;
        align-items: center;
    }
    .contenidoGeneral .tamaño .tres .blog .infoIzq .info .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenidoGeneral .tamaño .tres .blog .infoIzq .info .texto p{
        font-size: 13px;
        line-height: 21px;
    }
    .contenidoGeneral .tamaño .tres .blog .infoIzq .info img {
        width: 140px;
    }
    .contenidoGeneral .tamaño .tres .blog .infoDer .info p {
        font-size: 13px;
    }
    .contenidoGeneral .tamaño .tres .blog .infoDer .info .fecha, .contenidoGeneral .tamaño .tres .blog .infoIzq .info .texto .fecha{
        font-size: 10px;
    }
    .contenidoGeneral .tamaño .tres .blog .etiquetaA {
        font-size: 13px;
    }

    /* footer */
    footer .copy p {
        font-size: 13px;
    }
    footer .redes img {
        width: 22px;
    }
}
